body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
  }
  
  /*--- navigation bar ---*/
  
  .navbar {
    background:#6ab446;
  }
  
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  
  .nav-link {
    margin-right: 1em !important;
  }
  
  .nav-link:hover {
    color: #000;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }

  /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/*Swiper*/
.carousel {
  width: 70%; 
  margin: auto;
  height: 100vh;
  
}
.carousel-caption p {
	text-align: center;
	font-size: 1rem;
  color:black;
  position: relative;
  left: 0;
  top: 0;
}
.carousel-inner .carousel-item  {
  position: relative;
  display: none;
  -webkit-transition: 10s ease-in-out left;
  -moz-transition: 10s ease-in-out left;
  -o-transition: 10s ease-in-out left;
  transition: 10s ease-in-out left;
}
/*Header*/
.app-header{
  text-align: center;
  margin-top: 5%;
}


.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}
.features .form-control,
.features input {
    border-radius: 0;
}

.features .btn {
  background-color: #589b37;
  border: 1px solid #589b37;
  color: #fff;
  margin-top: 20px;
}

.features .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}

@media (max-width: 576px) {

  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }
  
  .description h1 {
    font-size: 2em;
  }
  
  .description p {
    font-size: 1.2rem;
  }
  
  .features {
    margin: 0;
  }
  

}
/*@media only screen and (max-width: 576px) {
  .carousel-caption {
      
          font-size: 1rem;
      
  }
}*/
